body, html {
    --header-height: 80px;
    --shadow: 0px 10px 20px -12px rgba(0,0,0,0.45);
    --gutter: 30px;
    --footer-height: 25px;
    margin: 0;
    padding: 0;
    background-color: var(--color2);
    height: auto;
    background-color:#40434E;
    background-image: linear-gradient(#000000, #82A7A6, #785964);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: calc(var(--footer-height));
    height: 100%;
    width: auto;
    
}

section {
    background-color: var(--color5);
    width: 1000px;
    max-width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: var(--gutter);
    padding-bottom: var(--gutter);
    margin-top: var(--gutter);
    margin-bottom: var(--gutter);
    border: solid 2px var(--color1);
}


header {
    display: flex;
    justify-content: center;
    background-color: var(--color3);
    height: var(--header-height);
    background-color: #8E4A49;
    font-size: large;
}

#specialh1 {
    font-size: 35px;
    justify-content: center;
    text-align: center;
    font-family: 'treasuremapmedium';
}

.img-flag {
    display: flex;
    justify-content: center;
    margin-left: 890px;
    height: 150px;
    bottom: 15px;
}

#img-flag1 {
    background-color: transparent;
    filter: alpha(Opacity=90);
    opacity: 0.9;
    mix-blend-mode: screen;
    animation: shadow-pop-br 1s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
    margin-top: 1rem;
}

#story-results {
    font-family: 'treasuremapmedium';
    margin: 1rem;
}


.first-header, .second-header, .third-header {
    width: 475px;
    justify-content: center;
    background-color: black;
    color: rgb(151, 33, 33);
    font-family: 'treasuremapmedium';
    font-size: small;
    -moz-border-radius-topleft: 90px;
    -webkit-border-top-left-radius: 90px;
    border-top-left-radius: 90px;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-right-radius: 5px;
    border-top-right-radius: 5px;
    -moz-border-radius-bottomright: 90px;
    -webkit-border-bottom-right-radius: 90px;
    border-bottom-right-radius: 90px;
    -moz-border-radius-bottomleft: 90px;
    -webkit-border-bottom-left-radius: 90px;
    border-bottom-left-radius: 90px;
    animation: shadow-pop-br 1s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}

.flintlock {
    margin: 4rem;
    font-family: 'East Sea Dokdo';
    font-size: 25px;
    text-shadow: 2px -1px 16px rgba(235, 235, 235, 1);
}


.ol-margin {
    margin: 4rem;
}


h1 {
    margin-top: 1.75rem;
    display: flex;
    flex-direction: column;
    font-size: medium;
}

li {
    display: list-item;
    font-family: 'East Sea Dokdo';
    font-size: 25px;
    text-shadow: 2px -1px 16px rgba(235, 235, 235, 1);
}

.button {
    text-decoration: none;
    border: 1px solid rgb(146, 148, 248);
    position: relative;
    overflow: hidden;
    height: 2.5rem;
    width: 5rem;
}
  
.button:hover {
    box-shadow: 1px 1px 25px 10px #5F464B;
}
  
.button:before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(120deg, transparent,  #7daa978f, transparent);
    transition: all 650ms;
}
  
.button:hover:before {
    left: 100%;
}
  

content {
    width: 80%;
}


.light-green {
    color: #8AEA92;
}

.green-sheen {
    color: #80ADA0;
}

.dark-purple {
    color: #33202A;
}

@keyframes shadow-pop-br {
0% {
    box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
    transform: translateX(0) translateY(0);
}
100% {
    box-shadow: 1px 1px #3e3e3e, 2px 2px #3e3e3e, 3px 3px #3e3e3e, 4px 4px #3e3e3e, 5px 5px #3e3e3e, 6px 6px #3e3e3e, 7px 7px #3e3e3e, 8px 8px #3e3e3e;
    transform: translateX(-8px) translateY(-8px);
}
}

