
body, html {
    
    
    --header-height: 80px;
    --shadow: 0px 10px 20px -12px rgba(0,0,0,0.45);
    --gutter: 30px;
    --footer-height: 25px;
    
    
    background-color: var(--color2);
    height: auto;
    background-color: rgb(35, 165, 79);
    
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: calc(var(--footer-height));
    height: 100%;
    width: auto;
    
}

section {
    background-color: var(--color5);
    width: 1000px;
    max-width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: var(--gutter);
    padding-bottom: var(--gutter);
    margin-top: var(--gutter);
    margin-bottom: var(--gutter);
    border: solid 2px var(--color1);
    
}


header {
    display: flex;
    justify-content: flex-end;
    background-color: var(--color3);
    height: var(--header-height);
    box-shadow: var(--shadow);
}


.first-header, .second-header, .third-header {
    border-radius: 150px 150px 0 0;
    width: 475px;
    justify-content: center;
    background-color: black;
    color: rgb(151, 33, 33);
}

footer {
    display: flex;
    justify-content: flex-end;
    background-color: var(--color3);
    box-shadow: var(--shadow);
}


h1 {
    border-radius: 150px 150px 0 0;
    border-color: black;
    
}

.gutter-right {
    margin-right: 900px;
}

li {
    display: list-item;
}

button {
    border-radius: 10px;
    border: 1px dotted black;
}

.main-logo {
    animation: pulse 5s infinite ease-in-out;
    height: 100px;
    width: 100px;
}

header img {
    height: var(--header-height);
}



content {
    width: 80%;
}

p {
    margin: var(--gutter);
}
  
footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    height: var(--footer-height);
    display: flex;
    justify-content: flex-end;
    background-color: var(--color3);
    box-shadow: var(--shadow);
}
  
  @keyframes pulse {
    20% {
      transform: rotate3d(-10, -10, -10, 50deg) scale(1.2);
    }

    40% {
        transform: rotate3d(10, 10, -10, 50deg) scale(1);
    }

    60% {
        transform: rotate3d(-10, 10, 10, 50deg) scale(1.2);
      }

    80% {
        transform: rotate3d(10, 10, 10, 50deg) scale(1);
    }

  }

  @font-face {
    font-family: 'carnivalee_freakshowregular';
    src: url('carnevalee_freakshow-webfont.woff2') format('woff2'),
         url('carnevalee_freakshow-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'treasuremapmedium';
    src: url('treasuremap-nrxz0-webfont.woff2') format('woff2'),
         url('treasuremap-nrxz0-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}